/* This CSS file will need to be added to the styling of
your web pages for the styles to be rendered. */

body {
background-color: #fff;
color: #333;
}

a {
    color: #333;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #333;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}

h5{
    font-weight:500;
    font-size:1.25rem;
}

h1{
    display:flex;
    justify-content:center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}



.ms-3 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 75px;
  color: #333;
}

.add p{
  color: #333;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.card{
  transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
}

.h1 {
  font-family: "Beau Rivage", cursive;
  font-weight: 400;
  font-style: normal;
}
